//
// Buttons
// --------------------------------------------------

.btn {
  .transition(all 0.6s);
  text-transform: uppercase;
}

.btn-primary {
  color: @brand-dark;
  &:hover { color: @brand-dark; }
}
