//
// Component: Thumbnail List
// --------------------------------------------------

.thumb-list {
  
  color: @white;
  h5 { border-bottom: @trans-light 1px dashed; padding-bottom: 10px; }
  
  .thumb {
    
  }
  
  .details {
    position: relative;
    padding: 30px 60px;
    
    &:after {
      position: absolute;
      top: 50%;
      top: calc(50% - 8px);
      width: 0;
      height: 0;
      display: block;
      content: " ";
      border-color: transparent;
      border-style: solid solid outset;
      pointer-events: none;
      border-width: 16px;
    }
  }
  
  div:nth-child(odd) {
    .details {
      background: @brand-dark;
      h2 { color: @white; }
      &:after { border-left-color: @brand-dark; left: 100%; right: 16px; }
    }
    .thumb {
      
    }
  }
  
  div:nth-child(even) {
    .details {
      background: @brand-primary;
      color: @brand-dark;
      h2 { color: @brand-dark }
      h5 { border-bottom-color: @trans-dark; }
      &:after { border-right-color: @brand-primary; right: 100%; }
      .btn { color: @brand-dark; }
      float: right;
    }
    .thumb {
      float: right;
    }
  }
}