//
// Component: Thumbnail List
// --------------------------------------------------

.thumb-list {

  .row-fluid {
    position: relative;
    overflow: hidden;

    &:hover {
      .thumb img { #filter.grayscale-reset(); }
    }
  }

  .thumb {

    padding: 0;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      position: absolute;
      height: 100%;
      top: 0;
    }

    // to help vertical alignment
    .img-container {
      position: relative;
      top: 50%;
    }

    img {
      .transition(~"filter 0.6s, -webkit-filter 0.6s");
      #filter.grayscale();

      // fill width and vertical align
      position: relative;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    // correct half-pixel blur for vertical-align transform
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  color: @white;
  h5 { border-bottom: @trans-light 1px dashed; padding-bottom: 10px; }

  .details {
    position: relative;
    padding: 50px 60px;
    z-index: 100;

    // side arrow
    &:after {
      position: absolute;
      top: 50%;
      top: calc(50% - 8px);
      width: 0;
      height: 0;
      display: block;
      content: " ";
      border-color: transparent;
      border-style: solid solid outset;
      pointer-events: none;
      border-width: 16px;
    }
  }

  div:nth-child(odd) {
    .details {
      .box(dark);
      &:after {
        border-left-color: @brand-dark; left: 100%; margin-left: -1px;

        // move arrow to bottom for xs screen size
        @media (max-width: @screen-xs-max) { top: 100%; left: 50%; left: ~"calc(50% - 16px)"; transform: rotate(90deg); margin-top: -1px; }
      }
    }
    .thumb {
      right: 0;
    }
  }

  div:nth-child(even) {
    .details {
      .box(color);
      h5 { border-bottom-color: @trans-dark; }
      &:after {
        border-right-color: @brand-primary; right: 100%;

        // move arrow to bottom for xs screen size
        @media (max-width: @screen-xs-max) { top: 100%; left: 50%; left: ~"calc(50% - 16px)"; transform: rotate(270deg); margin-top: -1px; }
      }
      .btn { color: @brand-dark; }
      float: right;
    }
    .thumb {
      float: right;
      left: 0;
    }
  }

  // xs screen size
  @media (max-width: @screen-xs-max) {
    .thumb { height: 150px; }
    .details {
      padding: 15px;
      h5 { padding: 0; border: none; margin: 0; }
    }
  }
}
