.timeline {
  position: relative;
  margin-top: 60px;
  margin-bottom: 20px;

  // vertical line
  &:before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 40px;
    width: 16.45%;
    border-right: 2px solid @gray;
    z-index: -100;

    @media (max-width: @screen-xs-max) {
      width: 12%;
    }
  }

  .line-ident {
    text-align: center;
  }

  .row-fluid, .row {
    margin-bottom: 30px;
    z-index: 100;
  }

  // hide vertical line after last element
  &>div:last-of-type {
    background: @body-bg;
  }

  .icon {
    margin-right: 0;
  }
}

.heading h2 {
  margin-top: 68px;

  @media (max-width: @screen-xs-max) {
    margin-top: 15px;
  }
}
