---
title: Home
header: <h1>I'm A <em>Web Developer</em></h1><h1>I'm A <em>UX Enthusiast</em></h1><h1 class="offset">I'm An <em>Explorer</em></h1>
---
{{> header }}

{{> projects-featured }}

{{> skills}}

{{> info }}

{{> contact }}