---
title: Home
header: <h1><a href="/#skills">Web Developer</a></h1><h1><a href="/#skills">UX Enthusiast</a></h1><h1><a href="/#info">Explorer</a></h1>
---
{{> projects-featured }}

{{> skills}}

{{> info }}

{{> contact }}
