<section id="contact">
  <div class="contact-inner">
    <div class="container row-fluid">
      <div class="col-md-2">
        <h1>Contact</h1>
      </div>
      <div class="col-sm-10">
        <div class="row-fluid">
          <form role="form" id="contact-form" method="post" name="contact-form">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="subject" class="sr-only">Subject</label>
                <input type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label for="text" class="sr-only">Message</label>
              <textarea id="text" class="form-control" rows="6" placeholder="Message"></textarea>
            </div>
            <div class="col-sm-2">
              <button id="submit" type="submit" class="btn btn-primary btn-block">Send</button>
              <span class="success" style="display:none;">Thanks.</span>
              <span class="error" style="display:none;">Looks like you've missed something or your email address isn't quite right...</span>
            </div>
          </form>
          <div class="clearfix"></div>
        </div>
        <div class="row-fluid details">
          <div class="col-sm-4 col-xs-12"><a href="mailto:{{info.email}}" data-toggle="tooltip" data-placement="bottom" title="E-Mail"><img class="icon pull-left" src="{{assets}}/images/icons/mail.svg" alt="Email" width="30" height="30"><span class="icon-label">{{info.email}}</span></a></div>
          <div class="col-sm-6 col-xs-12 icon-group-justify">
            {{#each info.social}}
              <a href="{{this.url}}"><img class="icon social" src="assets/images/icons/{{this.icon}}" width="30" height="30" alt="{{this.alt}}" data-toggle="tooltip" data-placement="bottom" title="{{this.alt}}"></a>
            {{/each}}
            <span class="justifier">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
