<section class="row-fluid header">
  <div class="jumbotron">
    <div class="col-md-offset-2">
      <h5 class="visible-xs-inline">{{ site.title }}</h5>
      {{{ header }}}
    </div>
  </div>
</section>
