<header id="header" class="row-fluid header">
  <div class="jumbotron {{#if page.project}}with-content{{/if}}">
    <div class="col-md-offset-2 col-sm-offset-1 col-md-6 col-sm-8 col-xs-10">
      <h4 class="visible-xs">{{site.title}}</h4>
      {{#if page.header}}
        {{{page.header}}}
      {{else}}
        {{#unless page.project}}
          <h1>{{page.title}}</h1>
        {{/unless}}
      {{/if}}
      {{#is page.project true}}
        <div class="heading">
          <h1>{{ page.title }}</h1>
          <h5>{{ page.subtitle }}</h5>
        </div>
        <h5>
          {{#each page.tags}}
            <span class="tag">{{this}}</span>
          {{/each }}
        </h5>
        <p>{{page.summary}}</p>
        {{#if page.ref}}
          <a class="btn-ghost btn-arrow" href="{{page.ref}}" target="_blank">Visit Website</a>
        {{/if}}
      {{/is}}
    </div>
    <div class="clearfix"></div>
  </div>
</header>
