<section id="info" class="container timeline">
  <div class="row-fluid heading">
    <div class="col-sm-2 col-sm-offset-1 col-xs-3">
      <img src="{{assets}}/{{info.avatar}}" alt="James Warren Profile">
    </div>
    <div class="col-xs-8">
      <h2>{{info.name}}</h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-2 col-sm-offset-1 col-xs-3 line-ident">
      <span class="label-dark label-large">Professional</span>
    </div>
    <div class="clearfix"></div>
  </div>
  {{#each info.professional}}
    {{> info-item}}
  {{/each}}
  <div class="row-fluid">
    <div class="col-sm-2 col-sm-offset-1 col-xs-3 line-ident">
      <span class="label-dark label-large">Interests</span>
    </div>
    <div class="clearfix"></div>
  </div>
  {{#each info.interests}}
    {{> info-item}}
  {{/each}}
</section>
