<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid row-fluid">
    <div class="col-md-3 navbar-header hidden-xs">
      <a class="navbar-brand" href="/#header">{{site.title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/#projects">Projects</a></li>
      <li class="separator"></li>
      <li><a href="/#skills" data-offset="0">Skills</a></li>
      <li class="separator"></li>
      <li><a href="/#info" data-offset="60">Info</a></li>
      <li class="separator hidden-xs"></li>
      <li class="hidden-xs"><a href="/#contact" >Contact</a></li>
    </ul>
  </div>
</nav>
