<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid row-fluid">
    <div class="col-md-2 navbar-header hidden-xs">
      <h4><a class="navbar-brand" href="#">{{site.title}}</a></h4>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#work">Work</a></li>
      <li class="separator"></li>
      <li><a href="#skills">Skills</a></li>
      <li class="separator"></li>
      <li><a href="#info">Info</a></li>
    </ul>
  </div>
</nav>