//
// Typography
// --------------------------------------------------
 
h1 {
  margin: 0;
  color: @brand-primary;
}

h2 {
  margin: 0 0 6px 0;
  color: @brand-dark;
}

h4, .h4 {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

h5, .h5 {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
