<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- Custom styles for this template -->
    <link href="{{assets}}/styles/theme.css" rel="stylesheet">

    <!-- Fonts from Google WebFonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300%7CRoboto+Slab:300" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container-fluid {{basename}}" role="main">

      {{> navbar-fixed-top }}

      {{> header }}

      {{> body }}

      {{> footer }}

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{assets}}/js/bootstrap.min.js"></script>
    <script src="{{assets}}/js/jquery.easing.min.js"></script>
    <script src="{{assets}}/js/jameswarren.min.js"></script>
  </body>
</html>
