---
title: Chiltern Music Therapy
subtitle: CMS Website
project: true
featured: false
posted: 2012-07-01
tags: ["Design","Development","CMS"]
thumb: guitar.jpg
summary: >
  Chiltern Music Therapy is an award-winning not-for-profit organisation that provides a music therapy service to people of all ages.
ref: http://www.chilternmusictherapy.co.uk

layout: <%= config.layoutProject %>
---
<section class="row-fluid no-pad-bottom">
  <div class="container">
    <h3>Homepage</h3>
    <div class="col-md-12 center">
      <div class="annotation">
        <img class="showcase" src="../assets/images/projects/cmt/web-home.jpg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h3>What's Next?</h3>
    <div class="col-md-6">
      <p>A website is a living and breathing monster. I enjoy working with projects that keep coming back for more. We're currently working on new site structure and service page re-design to better showcase Chiltern Music Therapy's ever evoloving range of services.</p>
    </div>
  </div>
</section>
<section class="row-fluid">
  <div class="container">
    <div class="col-md-12 center">
      <h4>More Case Study Details Coming Soon</h4>
    </div>
  </div>
</section>
