---
title: ESC App
project: true
featured: true
posted: 2014-09-29
tags: ["UX","Development"]
thumb: main.jpg
summary: >
  ESC is a digital story-telling platform that re-connects people with places and nature. Stories ... user-generated and curated through user interaction and engagement.

layout: <%= config.layoutProject %>
---
<section class="row-fluid">
  <h3 class="col-md-12"></h3>
  <div class="col-md-6"></div>
  <div class="col-md-6"></div>
</section>
