---
title: First Mate
subtitle: App Design & Development
project: true
status: dev
featured: true
posted: 2014-09-26
tags: ["App Development","Angular.Js","Node.Js","Sails.Js"]
thumb: header.jpg
summary: >
  Cruise and maintenance logging for shared-ownership boats.

layout: <%= config.layoutProject %>
---
<section class="row-fluid no-pad-bottom">
  <h3>Issue Log</h3>
  <div class="col-xs-12 center">
    <p>The issue log provides a central hub for members to report faults and maintenance queries.</p>
    <img class="showcase" src="../assets/images/projects/firstmate/issue-list.jpg" alt="Issue List View">
  </div>
</section>
<section class="row-fluid no-pad-bottom">
  <h3>Issue Details</h3>
  <div class="col-xs-12 center">
    <p>Users can track an issues status through comments. Once resolved an issue can be marked as closed.</p>
    <img class="showcase" src="../assets/images/projects/firstmate/issue-details.jpg" alt="Issue Details View">
  </div>
</section>
<section class="row-fluid">
  <h3>Technology Stack</h3>
  <div class="col-md-6">
    <ul>
      <li>Angular.js - front-end web framework</li>
      <li>Sails.js - MVC web framework for Node.js</li>
      <li>Node.js / Express.js</li>
      <li>MySQL database</li>
    </ul>
    <p>FirstMate makes use of web sockets to enable real-time interactions and a collaborative user experience.</p>
  </div>
  <div class="col-md-6 center">
    <img src="../assets/images/AngularJS-Shield-small.png" alt="AngularJS">
    <img src="https://raw.githubusercontent.com/balderdashy/sails-docs/master/resources/styleguide/sailslogo_gray.png" alt="SailsJS">
    <img src="../assets/images/nodejs-light.svg" alt="NodeJS">
  </div>
</section>
<section class="row-fluid">
  <h3>What's Next?</h3>
  <div class="col-md-6">
    <p>FirstMate is young, we see it as a proof-of-concept at this stage. We hope to complete user testing on the current feature set in the next month.</p>

  </div>
  <div class="col-md-6">
    <p>Future key goals on our roadmap include:</p>
    <ol>
      <li>Cruise logs and reporting</li>
      <li>New UI design</li>
    </ol>
  </div>
</section>
