---
title: JH Design Portfolio
project: true
featured: true
posted: 2014-09-26
tags: ["Development","CMS"]
thumb: main.png
summary: > 
  Joanna Hobbs is a graduate graphic designer. We collaborated to design and develop a portfolio to showcase her work.
ref: http://www.joannahobbs.co.uk

layout: <%= config.layoutProject %>
---
<section class="row-fluid">
  <h3 class="col-md-12"></h3>
  <div class="col-md-6"></div>
  <div class="col-md-6"></div>
</section>
