---
title: Joanna Hobbs
subtitle: Graphic Design Portfolio
project: true
featured: false
posted: 2014-04-01
tags: ["Development","CMS","Responsive"]
thumb: main.jpg
summary: >
  Joanna Hobbs is a graduate graphic designer. We collaborated to design and develop a portfolio site to showcase her work.
ref: http://www.joannahobbs.co.uk

layout: <%= config.layoutProject %>
---
<section class="row-fluid">
  <div class="container">
    <h3>Design</h3>
    <div class="col-md-6">
      <p>This website design was a collaborative effort; combining Joanna's admirable design skills with my knowledge of web layout techniques and technology.</p>
      <div class="palette">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="col-md-6 img-container center">
      <img src="{{assets}}/images/projects/{{basename}}/jh-logo.svg" alt="Joanna Hobbs Logo" width="250">
    </div>
  </div>
</section>
<section class="row-fluid no-pad-bottom">
  <div class="container">
    <h3>Homepage</h3>
    <div class="col-md-12 center">
      <p>The site is based around full-screen slides. It is gesture aware, enabling visitors to swipe or drag to the next slide. (navigation using scroll wheel, keyboard arrows and scroll bar are also supported)</p>
      <img class="showcase" src="{{assets}}/images/projects/{{basename}}/home.png" alt="Joannna Hobbs - Homepage">
    </div>
  </div>
</section>
<section class="row-fluid no-pad-bottom">
  <div class="container">
    <h3>Project Portfolio</h3>
    <div class="col-md-12 center">
      <p>A horizontal slider shows off the projects; a brief description is also displayed on hover.</p>
      <img class="showcase" src="{{assets}}/images/projects/{{basename}}/projects.png" alt="Joannna Hobbs - Projects View">
    </div>
  </div>
</section>
