---
title: Mandarin Syndicate
subtitle: Website & Member Portal
project: true
featured: false
posted: 2010-09-01
tags: ["Development","CMS"]
thumb: mand-napton.jpg
summary: >
  Mandarin Syndicate are a friendly group of enthusiasts, self-managing a shared ownership narrowboat.
ref: http://www.mandarinsyndicate.co.uk

layout: <%= config.layoutProject %>
---
<section class="row-fluid">
  <div class="container">
    <h3>Brief</h3>
    <div class="col-md-6">
      <p>The Mandarin Syndicate wanted a website to promote share availability and provide a central hub of information for its members.</p>
      <p>Key features include:</p>
      <ul>
        <li>Boat Tour</li>
        <li>Members News</li>
        <li>Members Chat Area</li>
        <li>Document Archive</li>
        <li>Bookings Calendar</li>
      </ul>
    </div>
    <div class="col-md-6 center">
      <div class="palette">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</section>
<section class="row-fluid no-pad-bottom">
  <div class="container">
    <h3>Homepage</h3>
    <div class="col-md-12 center">
      <div class="annotation">
<!--        <span class="node" data-toggle="popover" data-content="I crafted a vector render of the Mandarin type using Illustrator. The header colours reflect the paint work of the boat." style="top: 8%; left: 40%;"></span>-->
<!--        <span class="node" data-toggle="popover" data-content="" style="top: 30%; left: -10px;"></span>-->
<!--        <span class="node" data-toggle="popover" data-content="Members of the syndicate can login to a private area." style="top: 74%; right: 25%;"></span>-->
        <img class="showcase" src="../assets/images/projects/mandarin/web-home.jpg">
      </div>
    </div>
  </div>
</section>
<img src="../assets/images/projects/mandarin/DSC_3421.jpg">
<section class="row-fluid no-pad-bottom">
  <div class="container">
    <h3>Members</h3>
    <div class="col-md-12">
      <div class="annotation">
        <img class="showcase" src="../assets/images/projects/mandarin/web-members.jpg">
      </div>
    </div>
  </div>
</section>
