//
// Typography
// --------------------------------------------------

::selection {
  background: @brand-primary;
}

em {
  color: @brand-primary;
  font-style: normal;
}

.center { text-align: center; }

h1 {
  margin: 0;
  color: @brand-primary;
  a { color: inherit; }
  a:hover { color: @brand-primary; }
  letter-spacing: 1px;
}

h2 {
  margin: 0 0 6px 0;
  color: @brand-dark;
}

h3 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid @gray-light;
}

h4 {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 15px 0;

  @media screen and (min-width: @screen-lg-min) and (min-height:700px) {
    padding: 30px 0;
    font-size: floor((@font-size-h4 * 1.2));
  }
}

h5 {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
  margin: 5px 0 10px 0;
  padding: 0;
}

h6 {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  padding: 0;
}

@media screen and (min-width: @screen-xl-min) {
  h1, h2 { font-size: 2.4em; }
  h3 { font-size: 1.6em; }
  h4, h5, h6, p { font-size: 1.2em; }
}

// Links
// --------------------------------------------------

a {
  .transition(color 0.5s);
}

a:hover {
  text-decoration: none;
}

h2,h3,h4,h5,h6 {
    a {
        color: inherit;
        .transition(background-color 0.3s);
    }
    a:hover {
        color: inherit;
        background-color: @brand-primary;
    }
}
